.loading {
  font-size: 2em;
  margin: 2em;
}

.search {
  display: flex;
  flex-direction: row;
}

.results {
  width: calc(200% / 3);
}

.map {
  width: calc(100% / 3);
  height: 100%;
  left: calc(200% / 3);
  width: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .results {
    width: 100%;
  }

  .map {
    display: none;
  }
}
